*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

input[type='text'], select, input[type='number'],input[type='submit']
{   
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    
}

select{
    cursor: pointer;
}

input[type='submit']{
    background-color: #4caf5d;
    color: white;
    border: none;
    cursor: pointer;
}
input[type='submit']:hover{
    background-color: #398946;
}
table{
    min-width: 80%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid#ddd;
    padding: 8px;
    text-align: left;
}

th{
    background: #4caf5d;
    color: white;
}

button{
    background: #4caf5d;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}


.btn-danger{
    display: inline-block;
   
}